{% extends 'restaurant/base.html' %}
{% load static %}

{% block body_block %}

	<!-- banner start -->
	<section class="banner">
		<div class="banner-carousel owl-carousel">
			<div class="banner-slide">
				<div class="container">
					<div class="banner-box">
						<div class="banner-text">
							<div class="banner-center">
								<h2 class="banner-headding">Quality F<span>oo</span>ds</h2>
								<p class="banner-sub-hed">Healthy Food for healthy body</p>
							</div>
						</div>
						<div class="banner-images">
							<div class="all-img-banner">
								<img src="{% static  'restaurant/images/banner-bg-1.png' %}" alt="banner" class="pizza-img">
								<img src="{% static  'restaurant/images/banner-bg-2.png' %}" alt="banner" class="pizza-it pizza-1">
								<img src="{% static  'restaurant/images/banner-bg-3.png' %}" alt="banner" class="pizza-it pizza-2">
								<img src="{% static  'restaurant/images/banner-bg-4.png' %}" alt="banner" class="pizza-it pizza-3">
								<img src="{% static  'restaurant/images/banner-bg-5.png' %}" alt="banner" class="pizza-it pizza-4">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="banner-slide-2">
				<div class="container">
					<div class="banner-box">
						<div class="banner-text">
							<div class="banner-center">
								<h2 class="banner-headding">Quality F<span>oo</span>ds</h2>
								<p class="banner-sub-hed">Healthy Food for healthy body</p>
							</div>
						</div>
						<div class="banner-images">
							<div class="all-img-banner">
								<img src="{% static 'restaurant/images/pizza-banner-1.png' %}" alt="banner" class="pizza-img">
								<img src="{% static 'restaurant/images/pizza-1.png' %}" alt="banner" class="pizza-it pizza-1">
								<img src="{% static 'restaurant/images/pizza-2.png' %}" alt="banner" class="pizza-it pizza-2">
								<img src="{% static 'restaurant/images/pizza-3.png' %}" alt="banner" class="pizza-it pizza-3">
								<img src="{% static 'restaurant/images/pizza-4.png' %}" alt="banner" class="pizza-it pizza-4">
								<img src="{% static 'restaurant/images/pizza-5.png' %}" alt="banner" class="pizza-it pizza-5">
								<img src="{% static 'restaurant/images/pizza-6.png' %}" alt="banner" class="pizza-it pizza-6">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="banner-slide-3">
				<div class="container">
					<div class="banner-box">
						<div class="banner-images">
							<div class="all-img-banner">
								<img src="{% static 'restaurant/images/pizza-banner-2.png' %}" alt="banner" class="pizza-img">
								<img src="{% static 'restaurant/images/pizza-7.png' %}" alt="banner" class="pizza-it pizza-1">
								<img src="{% static 'restaurant/images/pizza-8.png' %}" alt="banner" class="pizza-it pizza-2">
								<img src="{% static 'restaurant/images/pizza-9.png' %}" alt="banner" class="pizza-it pizza-3">
								<img src="{% static 'restaurant/images/pizza-10.png' %}" alt="banner" class="pizza-it pizza-4">
								<img src="{% static 'restaurant/images/pizza-11.png' %}" alt="banner" class="pizza-it pizza-5">
								<img src="{% static 'restaurant/images/pizza-12.png' %}" alt="banner" class="pizza-it pizza-6">
							</div>
						</div>
						<div class="banner-text">
							<div class="banner-center">
								<h2 class="banner-headding">Quality F<span>oo</span>ds</h2>
								<p class="banner-sub-hed">Healthy Food for healthy body</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- banner end -->


	<section class="order-section ptb">
		<div class="container">
			<div class="row">
				<div class="order-top"><img src="{% static 'restaurant/images/order-top.png' %}" alt="layer"></div>
				<div class="col-xl-4 col-lg-4 col-md-4 servose-box text-center padding-lf">
					<img src="{% static 'restaurant/images/order-1.svg' %}" alt="order" class="order-img">
					<h2 class="order-title text-uppercase">order your Food</h2>
					<p class="order-des" style="font-size:20px;">
						Savor Afghan culinary excellence by ordering from Afghan Shahee Restaurant. Our diverse menu showcases authentic dishes crafted with traditional recipes and premium ingredients. Indulge in aromatic kababs, pizza, chicken, flavorful rice dishes, mouthwatering stews, and delightful vegetarian options. Experience Afghan gastronomy at its finest by placing your order today.
					</p>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-4 servose-box text-center padding-lf">
					<img src="{% static 'restaurant/images/order-2.svg' %}" alt="delivery" class="order-img">
					<h2 class="order-title text-uppercase">delivery or pick up</h2>
					<p class="order-des" style="font-size:20px;">
						Satisfy your cravings with Afghan Shahee Restaurant's convenient delivery or pick-up options. Explore our diverse menu and discover a range of mouthwatering dishes. From traditional Afghan delicacies to modern fusion creations, we offer a flavorful culinary experience. Enjoy the ease of ordering from Afghan Shahee Restaurant today.
					</p>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-4 servose-box text-center padding-lf">
					<img src="{% static 'restaurant/images/order-3.svg' %}" alt="delicious" class="order-img">
					<h2 class="order-title text-uppercase">delicious receive</h2>
					<p class="order-des" style="font-size:20px;">
						Experience the joy of receiving deliciousness from Afghan Shahee Restaurant. Treat yourself to a diverse menu filled with mouthwatering Afghan delights. From aromatic kababs to flavorful rice dishes and more, every bite is a delectable journey. Enjoy the satisfaction of savoring authentic flavors delivered right to your doorstep.
					</p>
				</div>
				<div class="order-bottom"><img src="{% static 'restaurant/images/order-bottom.png' %}" alt="layer"></div>
			</div>
		</div>
	</section>

	<section class="speciality ptb pt-140">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12">
					<div class="headding-part text-center pb-50">
						<p class="headding-sub">Fresh From Afghan Shahee Hotel & Restaurant</p>
						<h2 class="headding-title text-uppercase font-weight-bold">our speciality</h2>
					</div>
				</div>
			</div>
			<div class="row">
				{% if specials %}
				{% for item in specials %}
				<div class="col-xl-4 col-lg-4 col-md-4 text-center speciality-box">
					<div class="speciality-img"><a href="{% url 'pro_details' item.id  %}"><img src="{{item.photo1.url}}" alt="speciality" class="spec-image"></a></div>
					<a href="{% url 'pro_details' item.id %}" class="ser-title text-uppercase font-weight-bold">{{item.pro_id.name}}</a>
				</div>
				{% endfor %}
				{% endif %}
			</div>
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 text-center">
					<a href="{% url 'menu' %}" class="com-btn">view more</a>
				</div>
			</div>
		</div>
	</section>

	<!-- our Special menu  -->
	<section class="special-menu ptb pt-140">
		<div class="container">
			<div class="menu-top-bg"><img src="{% static 'restaurant/images/menu-top-bg.png' %}" alt="meu-bg"></div>
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12">
					<div class="headding-part text-center pb-50">
						<p  class="headding-sub">Fresh From Green Hut Pizza</p>
						<h2 class="headding-title text-uppercase font-weight-bold">Our Special Menu</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12">
					<div class="special-tab text-center">
						<ul  id="tabs" class="nav nav-tabs" role="tablist">
							<li role="presentation" class="text-uppercase font-weight-bold tab-link current" data-tab="all_foods"><a href="#all_foods" role="tab" data-toggle="tab" class="active"> all</a></li>
							<li role="presentation" class="text-uppercase font-weight-bold tab-link" data-tab="tab-beverage"><a href="#tab-beverage" role="tab" data-toggle="tab"> beverages</a></li>
							<li role="presentation" class="text-uppercase font-weight-bold tab-link" data-tab="tab-pizza"><a href="#tab-pizza" role="tab" data-toggle="tab"> pizzas</a></li>
							<li role="presentation" class="text-uppercase font-weight-bold tab-link" data-tab="tab-fast-food"><a href="#tab-fast-food" role="tab" data-toggle="tab"> fast-food</a></li>
							<li role="presentation" class="text-uppercase font-weight-bold tab-link" data-tab="tab-bar-be-coe"><a href="#tab-bar-be-coe" role="tab" data-toggle="tab"> bar-be-coe</a></li>
							<li role="presentation" class="text-uppercase font-weight-bold tab-link" data-tab="tab-rice-biryani"><a href="#tab-rice-biryani" role="tab" data-toggle="tab">biryani</a></li>
							<li role="presentation" class="text-uppercase font-weight-bold tab-link" data-tab="tab-afghani-special"><a href="#tab-afghani-special" role="tab" data-toggle="tab">afghani</a></li>
							<li role="presentation" class="text-uppercase font-weight-bold tab-link" data-tab="tab-pakistani"><a href="#tab-pakistani" role="tab" data-toggle="tab"> pakistani</a></li>
							<li role="presentation" class="text-uppercase font-weight-bold tab-link" data-tab="tab-chinese"><a href="#tab-chinese" role="tab" data-toggle="tab"> chinese</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="tab-content">
				<div role="tabpanel" class="row pt-50 tab-pane fade in active show" id="all_foods">
					{% for product in all_products %}
					<div class="col-xl-3 col-lg-3 col-md-4 text-center pt-20">
						<div class="menu-img"><a href="{% url 'pro_details' product.id  %}"><img src="{{product.photo1.url}}" alt="menu" class="menu-image"></a></div>
						<a href="{% url 'pro_details' product.id %}" class="menu-title text-uppercase">{{product.pro_id.name}}</a>
						<p class="menu-des limit-string" data-max-length="200">{{product.pro_id.info}}</p>
						<span class="menu-price">Afs. {{product.pro_id.price}}</span>
					</div>
					{% endfor %}
					<div  class="ml-5 mt-5 " style="display:flex; align-items:flex-end;">
						<a href="{% url 'menu' %}" class="text-warning btn btn-outline-warning">See More</a>
					</div>
				</div>

				<div role="tabpanel" class="row pt-70 tab-pane fade" id="tab-beverage">
					{% for product in beverage %}
					<div class="col-xl-3 col-lg-3 col-md-4 text-center pt-20">
						<div class="menu-img"><a href="{% url 'pro_details' product.id  %}"><img src="{{product.photo1.url}}" alt="menu" class="menu-image"></a></div>
						<a href="{% url 'pro_details' product.id %}" class="menu-title text-uppercase">{{product.pro_id.name}}</a>
						<p class="menu-des limit-string" data-max-length="200">{{product.pro_id.info}}</p>
						<span class="menu-price">Afs. {{product.pro_id.price}}</span>
					</div>
					{% endfor %}

				</div>

				<div role="tabpanel" class="row pt-70 tab-pane fade" id="tab-pizza">
					{% for product in pizza %}
					<div class="col-xl-3 col-lg-3 col-md-4 text-center pt-20">
						<div class="menu-img"><a href="{% url 'pro_details' product.id  %}"><img src="{{product.photo1.url}}" alt="menu" class="menu-image"></a></div>
						<a href="{% url 'pro_details' product.id %}" class="menu-title text-uppercase">{{product.pro_id.name}}</a>
						<p class="menu-des limit-string" data-max-length="200">{{product.pro_id.info}}</p>
						<span class="menu-price">Afs. {{product.pro_id.price}}</span>
					</div>
					{% endfor %}

				</div>
				<div role="tabpanel" class="row pt-70 tab-pane fade" id="tab-fast-food">
					{% for product in fast_food %}
					<div class="col-xl-3 col-lg-3 col-md-4 text-center pt-20">
						<div class="menu-img"><a href="{% url 'pro_details' product.id  %}"><img src="{{product.photo1.url}}" alt="menu" class="menu-image"></a></div>
						<a href="{% url 'pro_details' product.id %}" class="menu-title text-uppercase">{{product.pro_id.name}}</a>
						<p class="menu-des limit-string" data-max-length="200">{{product.pro_id.info}}</p>
						<span class="menu-price">Afs. {{product.pro_id.price}}</span>
					</div>
					{% endfor %}
				</div>
				<div role="tabpanel" class="row pt-70 tab-pane fade" id="tab-bar-be-coe">
					{% for product in bar_be_coe %}
					<div class="col-xl-3 col-lg-3 col-md-4 text-center pt-20">
						<div class="menu-img"><a href="{% url 'pro_details' product.id  %}"><img src="{{product.photo1.url}}" alt="menu" class="menu-image"></a></div>
						<a href="{% url 'pro_details' product.id %}" class="menu-title text-uppercase">{{product.pro_id.name}}</a>
						<p class="menu-des limit-string" data-max-length="200">{{product.pro_id.info}}</p>
						<span class="menu-price">Afs. {{product.pro_id.price}}</span>
					</div>
					{% endfor %}
				</div>
				<div role="tabpanel" class="row pt-70 tab-pane fade" id="tab-rice-biryani">
				{% for product in rice_biryani %}
				<div class="col-xl-3 col-lg-3 col-md-4 text-center pt-20">
					<div class="menu-img"><a href="{% url 'pro_details' product.id  %}"><img src="{{product.photo1.url}}" alt="menu" class="menu-image"></a></div>
					<a href="{% url 'pro_details' product.id %}" class="menu-title text-uppercase">{{product.pro_id.name}}</a>
					<p class="menu-des limit-string" data-max-length="200">{{product.pro_id.info}}</p>
					<span class="menu-price">Afs. {{product.pro_id.price}}</span>
				</div>
				{% endfor %}
				</div>

				<div role="tabpanel" class="row pt-70 tab-pane fade" id="tab-afghani-special">
				{% for product in afghani_special %}
				<div class="col-xl-3 col-lg-3 col-md-4 text-center pt-20">
					<div class="menu-img"><a href="{% url 'pro_details' product.id  %}"><img src="{{product.photo1.url}}" alt="menu" class="menu-image"></a></div>
					<a href="{% url 'pro_details' product.id %}" class="menu-title text-uppercase">{{product.pro_id.name}}</a>
					<p class="menu-des limit-string" data-max-length="200">{{product.pro_id.info}}</p>
					<span class="menu-price">Afs. {{product.pro_id.price}}</span>
				</div>
				{% endfor %}
				</div>

				<div role="tabpanel" class="row pt-70 tab-pane fade" id="tab-pakistani">
				{% for product in pakistani %}
				<div class="col-xl-3 col-lg-3 col-md-4 text-center pt-20">
					<div class="menu-img"><a href="{% url 'pro_details' product.id  %}"><img src="{{product.photo1.url}}" alt="menu" class="menu-image"></a></div>
					<a href="{% url 'pro_details' product.id %}" class="menu-title text-uppercase">{{product.pro_id.name}}</a>
					<p class="menu-des limit-string" data-max-length="200">{{product.pro_id.info}}</p>
					<span class="menu-price">Afs. {{product.pro_id.price}}</span>
				</div>
				{% endfor %}
				</div>

				<div role="tabpanel" class="row pt-70 tab-pane fade" id="tab-chinese">
				{% for product in chinese %}
				<div class="col-xl-3 col-lg-3 col-md-4 text-center pt-20">
					<div class="menu-img"><a href="{% url 'pro_details' product.id  %}"><img src="{{product.photo1.url}}" alt="menu" class="menu-image"></a></div>
					<a href="{% url 'pro_details' product.id %}" class="menu-title text-uppercase">{{product.pro_id.name}}</a>
					<p class="menu-des limit-string" data-max-length="200">{{product.pro_id.info}}</p>
					<span class="menu-price">Afs. {{product.pro_id.price}}</span>
				</div>
				{% endfor %}
				</div>

			</div>
			<div class="menu-bottom-bg"><img src="{% static 'restaurant/images/menu-bottom-bg.png' %}" alt="menu-bg"></div>
		</div>
	</section>

	<!-- Order Now -->
	<section class="online-booking ptb">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-6 col-md-6">
					<div class="max-w-390">
						<div class="headding-part">
							<p  class="headding-sub">Fresh From Afghan Shahee Hotel & Restaurnat</p>
							<h2 class="headding-title text-uppercase font-weight-bold">Order Now</h2>
						</div>
						<p class="online-des" style="font-size:20px;">
							Place your order now and satisfy your cravings. Discover a world of flavors, convenience, and culinary delights. Don't wait any longer—indulge in a delightful dining experience with just a few clicks. Order now!
						</p>
						<a href="tel:+93789401700" class="online-call">+93 (0) 789401700</a>
					</div>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-6 text-center">
					<h2 class="book-table text-uppercase">Free Delivery</h2>
					<img src="{% static  'restaurant/images/free-delivery.png' %}" alt="">
				</div>
			</div>
		</div>
	</section>
	<!-- Order Now End -->

	<!-- Galler  -->
	<section class="chef ptb pt-120 pb-120">
		<div class="chef-top-bg"><img src="{% static 'restaurant/images/chef-top-bg.png' %}" alt="chef-bg"></div>
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12">
					<div class="headding-part pb-50 text-center">
						<a href="{% url 'site_gallery' %}" class="headding-sub">See Our Home Gallery</a>
						<h2 class="headding-title text-uppercase font-weight-bold"></h2>
					</div>
				</div>
			</div>
			<div class="chef-banner owl-carousel">

				{% for photo in photos %}
				<div class="chef-outer text-center">
					<div class="chef-box">
						<div class="chef-hover"><img src="{{photo.image.url}}" alt="chef" class="pic" data-id="{{ photo.id }}" style="cursor:pointer;"></div>
						<span class="chef-ct">{{photo.title}}</span>
					</div>
				</div>
				{% endfor %}

			</div>
		</div>
		<div class="chef-bottom-bg"><img src="{% static 'restaurant/images/chef-bottom-bg.png' %}" alt="chef-bg"></div>
	</section>
	<!-- Gallery End -->

	<!-- Posts section -->
	<section class="news ptb">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12">
					<div class="headding-part pb-50 text-center">
						<p  class="headding-sub">Recent Events</p>
						<h2 class="headding-title text-uppercase font-weight-bold">Latest News</h2>
					</div>
				</div>
			</div>
			<div class="row">
				{% if posts %}
				{% for post in posts %}
				<div class="col-xl-4 col-lg-4 col-md-4 news-part">
					<div class="new-box">
						<div class="news-img">
							<a href="{% url 'blog_details' post.id %}">
								<img src="{{ post.post_img.url }}" alt="news" class="news-image">
							</a>
						</div>
							<ul>
								<li>{{ post.post_author }}</li>
								<li>{{post.post_comment.all | length}} comments</li>
							</ul>
							<a href="{% url 'blog_details' post.id %}" class="news-headline">{{ post.post_sub }}</a>
							<a href="{% url 'blog_details' post.id %}" class="news-more">read More</a>
					</div>
				</div>
				{% endfor %}
				{% endif %}
			</div>
		</div>
	</section>

	<section class="customer ptb">
		<div class="container">
			<div class="customer-inner">
				<div class="customer-top-bg"><img src="{% static 'restaurant/images/customer-top-bg.png' %}" alt="customer"></div>
				<div class="headding-part pb-50 text-center">
					<p  class="headding-sub">What Say Our Clients</p>
					<h2 class="headding-title text-uppercase font-weight-bold">Customer Reviews</h2>
				</div>
				<div class="customer-slide owl-carousel">
					{% for review in cust_review %}
					<div class="customer-detail">
						<div class="customer-img">
                            {% if review.customer_id.photo %}
							<div class="customer-img-in">
								<img src="{{review.customer_id.photo.url}}" alt="customer" class="customer-image">
								<p class="customer-name">{{review.customer_id.first_name}}</p>
							</div>
                            {% endif %}
						</div>
						<div class="customer-reviews">
							<p class="review-cus limit-string" data-max-length="500">{{review.comment}}</p>
							<label class="post-name">{{review.product_id.name}}</label>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="customer-bottom-bg"><img src="{% static 'restaurant/images/customer-bottom-bg.png' %}" alt="customer"></div>
			</div>
		</div>
	</section>

	<section class="about-pizzon ptb">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-6 col-md-6">
					<div class="max-w-390">
						<div class="headding-part">
							<p class="headding-sub">Delicious Restaurant</p>
							<h2 class="headding-title text-uppercase font-weight-bold">{{about.0.name}}</h2>
						</div>
						<p class="online-des limit-string" data-max-length="800">{{about.0.info}}</p>
						<a href="{% url 'rest_about'  %}" class="about-more-z com-btn">view more</a>
					</div>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-6">
					<div class="about-pizzon-img">
						<img src="{% static 'restaurant/images/about-greenhut.png' %}" alt="about" class="pizzon-ab">
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="top-scrolling">
		<a href="#header" class="scrollTo"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
	</div>

{% endblock %}

{% block script_block %}
<script>

	  $(document).ready(function(){
        $('.pic').click(function(data){
          var x = $(this).attr('data-id');
          window.open("images/"+x+"/")
        })
       })

	 var limitStringElements = document.querySelectorAll('.limit-string');

    limitStringElements.forEach(function(element) {
        var maxLength = parseInt(element.getAttribute('data-max-length'), 10);
        var text = element.textContent;

        if (text.length > maxLength) {
            element.textContent = text.slice(0, maxLength) + '...';
        }
    });
</script>
{% endblock %}